<form action="/scout" method=POST>
    <table border="1">
		<tr>
			<th></th>
			<th>Column 1</th>
			<th>Column 2</th>
			<th>Column 3</th>
		</tr>
		<tr>
			<th nowrap>3rd Row</th>
			<td><input type="number" maxlength="2" name="13" size="10%" required></td>
			<td><input type="number" maxlength="2" name="23" size="10%" required></td>
			<td><input type="number" maxlength="2" name="33" size="10%" required></td>
		</tr>
		<tr>
			<th nowrap>2nd Row</th>
			<td><input type="number" maxlength="2" name="12" size="10%" required></td>
			<td><input type="number" maxlength="2" name="22" size="10%" required></td>
			<td><input type="number" maxlength="2" name="32" size="10%" required></td>
		</tr>
	</table>
	<input type="submit">
</form>
